* {
  padding: 0;
  margin: 0;
}

:root {
  --primary: rgb(157, 209, 193);
  --primary2: rgb(108, 207, 178);
  --primary3: rgb(61, 133, 111);
  --secondary: rgb(199, 71, 88);
  --secondary2: rgb(226, 98, 115);
}

@font-face {
  font-family: 'retro-diner';
  src: url(/dist/fonts/Flottflott.ttf);
}

body {
  background-color: var(--primary);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(61, 61, 61);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 230px;
}

.title {
  font-size: 5.5rem;
  color: var(--secondary);
  margin-bottom: 40px;
  font-family: 'retro-diner';
}

button > a {
  text-decoration: none;
  padding: 30px;
  font-size: 1.2rem;
  color: var(--secondary);
  font-family: 'Poppins', sans-serif;
  background: none;
}

button {
  background: none;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: 0.2s ease-in-out;
  padding-bottom: 5px;
}

button:hover {
  border-bottom: 2px solid var(--secondary);
}

.frontPage {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.822);
  width: 700px;
  height: 620px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  font-family: 'Poppins', sans-serif;
}

.frontText1 {
  color: white;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 1.7rem;
}

.frontEst {
  color: white;
  font-size: 1.7rem;
}

.frontImg {
  margin-top: 30px;
  width: 350px;
  border-radius: 50%;
}

.frontText2 {
  color: white;
  margin-top: 30px;
  font-size: 1.4rem;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary2);
  color: white;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: 'Poppins', sans-serif;
}

/* Menu Page */
.menu {
  display: grid;
  gap: 40px;
  text-align: center;
  font-size: 2rem;
  grid-template-columns: repeat(2, 1fr);
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'retro-diner';
  color: var(--secondary);
  background-color: var(--primary2);
  padding: 50px;
  border-radius: 20px;
  border: 2px solid var(--primary3);
}
